.dropdown {
  position: relative;

  display: inline-block;

  width: 200px;

  border-radius: 6px 6px 0 0;
  box-shadow: 5px 5px 28px 3px #000000bf;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;

  overflow-y: auto;

  width: 100%;
  height: 155px;

  text-align: center;

  color: #fff;
  background-color: teal;
}

.menuItem {
  padding: 6px 10px;

  &:nth-child(2n) {
    background-color: #008f8f;
  }
}

.toggle {
  width: 100%;
  height: 100%;
  padding: 20px;

  background-color: transparent;
}
