/*
 * FONTS
 */

$NotoSans: 'Noto Sans', monospace;

/*
 * FONT COLORS
 */

$mainFont: #787d85;
$darkFont: #3b434e;
$orangeFont: #ffa500;

/*
 * BACKGROUND COLORS
 */

$bodyBackground: #e5e5e5;
$mainBackground: #fff;
$btnIncrement: #0084ff;
$btnDecrement: #ff2e2e;
$yellow: #eab809;

/*
 * BORDER COLORS
 */

$mainBorder: #181a1f;

/*
 * TRANSITIONS
 */

// ===== transition =====
$transition: 0.3s ease-in-out;
$easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
$easeOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
