/*
 * FONTS
 */

$NotoSans: 'Noto Sans', monospace;

/*
 * FONT COLORS
 */

$mainFont: #d6d8da;

/*
 * BACKGROUND COLORS
 */

$white: #fff;
$bodyBackground: #24292e;
$mainBackground: #31363f;
$btnIncrement: #0084ff;
$btnDecrement: #ff2e2e;
$yellow: #eab809;

/*
 * BACKGROUND COLORS
 */

$mainBorder: #181a1f;

/*
 * TRANSITIONS
 */

// ===== transition =====
$transition: 0.3s ease-in-out;
$easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
$easeOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
