@import 'scss/utils/variables.scss';

.counter {
  display: block;
  margin: 0 auto 50px;
  padding: 10px;
  max-width: fit-content;
  border-radius: 6px;
  border: 1px solid #f3f3f3;
  box-shadow: 5px 5px 28px 3px rgba(0, 0, 0, 0.75);
}

.value {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 4px;
  padding: 6px 12px;
  color: $white;
}

.inc {
  background-color: $btnIncrement;
}

.dec {
  margin-right: 6px;
  background-color: $btnDecrement;
}
