@import 'scss/utils/variables.scss';

.counter {
  display: inline-block;

  max-width: fit-content;
  padding: 10px 14px;

  border: 1px solid #f3f3f3;
  border-radius: 6px;
  // box-shadow: 5px 5px 28px 3px rgb(0 0 0 / 75%);
}

.value {
  display: block;

  margin-bottom: 10px;

  text-align: center;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 6px 12px;

  color: #fff;
  border-radius: 4px;
}

.inc {
  background-color: $btnIncrement;
}

.dec {
  margin-right: 6px;

  background-color: $btnDecrement;
}
