@import '../../scss/utils/variables.scss';

.main {
  grid-area: main;
  border-radius: 6px;
  background: $mainBackground;
  border: 1px solid $mainBorder;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
