.colorList {
  display: block;
  margin: 0 auto 50px;
  padding: 10px 14px;
  max-width: fit-content;
  border-radius: 6px;
  box-shadow: 5px 5px 28px 3px rgba(0, 0, 0, 0.75);
}

.label {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.colorItem {
  display: inline-block;
  width: 40px;
  height: 40px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.colorActive {
  transition: transform 250ms linear;
  transform: scale(1.14);
  border-radius: 5px;
}
