@import 'scss/utils/variables.scss';

.list {
  display: flex;
  flex-direction: column;
}

.active {
  font-weight: 700;
  color: $darkFont;
}

.subList {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}
